This is maybe I would say is part 1.5 because it is just merge data from part 1 before and my data that collected on [this](https://github.com/rizkysifaul/Coursera_Capstone) page, since that it is find as a population and density. Let's merged!

In [1]:
import pandas as pd

We are importing two data, data from part 1 before and data area which is I gathered.

In [5]:
data_penduduk = pd.read_csv("Data Penduduk Surabaya.csv")
data_area     = pd.read_csv("data/surabaya_area.csv")

In [6]:
data_penduduk

            District    Male  Female   Total
0          Tegalsari   50843   50873  101716
1            Genteng   29387   29886   59273
2            Bubutan   50909   50903  101812
3          Simokerto   48905   48808   97713
4    Pabean Cantikan   41419   40964   82383
5           Semampir   92390   90141  182531
6         Krembangan   58136   57502  115638
7           Kenjeran   74597   72160  146757
8              Bulak   20446   20196   40642
9         Tambaksari  108625  108475  217100
10            Gubeng   67403   69218  136621
11           Rungkut   52120   51926  104046
12  Tenggilis Mejoyo   27386   27475   54861
13      Gunung Anyar   26188   25932   52120
14          Sukolilo   52445   52448  104893
15         Mulyorejo   41178   41595   82773
16           Sawahan  100426  101295  201721
17         Wonokromo   79629   80335  159964
18      Karangpilang   35382   34940   70322
19       Dukuh Pakis   29245   29184   58429
20            Wiyung   33220   32522   65742
21          Wonocolo   39299   39038   78337
22          Gayungan   22104   21988   44092
23         Jambangan   23986   23562   47548
24            Tandes   44757   44712   89469
25     Sukomanunggal   49067   48842   97909
26          Asemrowo   22068   20905   42973
27            Benowo   28145   27609   55754
28       Lakarsantri   27042   26430   53472
29             Pakal   24716   23768   48484
30        Sambikerep   29522   29044   58566

In [7]:
data_area

,Neighborhood,Areas Region(km squared),Borough,latitude,longitude
0,TEGALSARI,4.29,Surabaya Pusat,-8.40185,114.11810
1,GENTENG,4.05,Surabaya Pusat,-8.36658,114.14630
2,BUBUTAN,3.86,Surabaya Pusat,-7.24996,112.73011
3,SIMOKERTO,2.59,Surabaya Pusat,-7.23865,112.75394
4,PABEAN CANTIKAN,6.80,Surabaya Utara,-7.21475,112.73011
5,SEMAMPIR,8.76,Surabaya Utara,-7.21146,112.74501
6,KREMBANGAN,8.34,Surabaya Utara,-7.23015,112.72415
7,KENJERAN,7.77,Surabaya Utara,-7.22027,112.76884
8,BULAK,6.72,Surabaya Utara,-7.23677,112.78970
9,TAMBAKSARI,8.99,Surabaya Timur,-7.25044,112.76884
10,GUBENG,7.99,Surabaya Timur,-7.27891,112.75394
11,RUNGKUT,21.08,Surabaya Timur,-7.31902,112.80459
12,TENGGILIS MEJOYO,5.52,Surabaya Timur,-7.32423,112.75394
13,GUNUNG ANYAR,9.71,Surabaya Timur,-7.33916,112.80459
14,SUKOLILO,23.68,Surabaya Timur,-7.28818,112.81651
15,MULYOREJO,14.21,Surabaya Timur,-7.26931,112.79268
16,SAWAHAN,6.93,Surabaya Selatan,-7.26301,112.72117
17,WONOKROMO,8.47,Surabaya Selatan,-7.30266,112.73309
18,KARANGPILANG,9.23,Surabaya Selatan,-7.33778,112.68840
19,DUKUH PAKIS,9.94,Surabaya Selatan,-7.29684,112.70032
20,WIYUNG,12.46,Surabaya Selatan,-7.31526,112.68542
21,WONOCOLO,6.77,Surabaya Selatan,-7.31982,112.74203
22,GAYUNGAN,6.07,Surabaya Selatan,-7.33084,112.72415
23,JAMBANGAN,4.19,Surabaya Selatan,-7.32108,112.71819
24,TANDES,11.07,Surabaya Barat,-7.25544,112.67350
25,SUKOMANUNGGAL,9.23,Surabaya Barat,-7.26426,112.69734
26,ASEMROWO,15.44,Surabaya Barat,-7.23469,112.68542
27,BENOWO,23.73,Surabaya Barat,-7.22649,112.64966
28,PAKAL,22.07,Surabaya Barat,-7.22835,112.61391
29,LAKARSANTRI,18.99,Surabaya Barat,-7.31651,112.66158
30,SAMBIKEREP,23.68,Surabaya Barat,-7.27684,112.64966

Since that the data_area is in UPPER, so we should changed our **data_penduduk**

In [9]:
data_penduduk['District'] = data_penduduk['District'].str.upper()

In [10]:
data_penduduk

            District    Male  Female   Total
0          TEGALSARI   50843   50873  101716
1            GENTENG   29387   29886   59273
2            BUBUTAN   50909   50903  101812
3          SIMOKERTO   48905   48808   97713
4    PABEAN CANTIKAN   41419   40964   82383
5           SEMAMPIR   92390   90141  182531
6         KREMBANGAN   58136   57502  115638
7           KENJERAN   74597   72160  146757
8              BULAK   20446   20196   40642
9         TAMBAKSARI  108625  108475  217100
10            GUBENG   67403   69218  136621
11           RUNGKUT   52120   51926  104046
12  TENGGILIS MEJOYO   27386   27475   54861
13      GUNUNG ANYAR   26188   25932   52120
14          SUKOLILO   52445   52448  104893
15         MULYOREJO   41178   41595   82773
16           SAWAHAN  100426  101295  201721
17         WONOKROMO   79629   80335  159964
18      KARANGPILANG   35382   34940   70322
19       DUKUH PAKIS   29245   29184   58429
20            WIYUNG   33220   32522   65742
21          WONOCOLO   39299   39038   78337
22          GAYUNGAN   22104   21988   44092
23         JAMBANGAN   23986   23562   47548
24            TANDES   44757   44712   89469
25     SUKOMANUNGGAL   49067   48842   97909
26          ASEMROWO   22068   20905   42973
27            BENOWO   28145   27609   55754
28       LAKARSANTRI   27042   26430   53472
29             PAKAL   24716   23768   48484
30        SAMBIKEREP   29522   29044   58566

And right now we can merging all of our data using ``pd.merge()``

In [16]:
data_total = data_area.merge(data_penduduk,
              how='inner',
              left_on='Neighborhood',
              right_on='District')
data_total

,Neighborhood,Areas Region(km squared),Borough,latitude,longitude,District,Male,Female,Total
0,TEGALSARI,4.29,Surabaya Pusat,-8.40185,114.11810,TEGALSARI,50843,50873,101716
1,GENTENG,4.05,Surabaya Pusat,-8.36658,114.14630,GENTENG,29387,29886,59273
2,BUBUTAN,3.86,Surabaya Pusat,-7.24996,112.73011,BUBUTAN,50909,50903,101812
3,SIMOKERTO,2.59,Surabaya Pusat,-7.23865,112.75394,SIMOKERTO,48905,48808,97713
4,PABEAN CANTIKAN,6.80,Surabaya Utara,-7.21475,112.73011,PABEAN CANTIKAN,41419,40964,82383
5,SEMAMPIR,8.76,Surabaya Utara,-7.21146,112.74501,SEMAMPIR,92390,90141,182531
6,KREMBANGAN,8.34,Surabaya Utara,-7.23015,112.72415,KREMBANGAN,58136,57502,115638
7,KENJERAN,7.77,Surabaya Utara,-7.22027,112.76884,KENJERAN,74597,72160,146757
8,BULAK,6.72,Surabaya Utara,-7.23677,112.78970,BULAK,20446,20196,40642
9,TAMBAKSARI,8.99,Surabaya Timur,-7.25044,112.76884,TAMBAKSARI,108625,108475,217100
10,GUBENG,7.99,Surabaya Timur,-7.27891,112.75394,GUBENG,67403,69218,136621
11,RUNGKUT,21.08,Surabaya Timur,-7.31902,112.80459,RUNGKUT,52120,51926,104046
12,TENGGILIS MEJOYO,5.52,Surabaya Timur,-7.32423,112.75394,TENGGILIS MEJOYO,27386,27475,54861
13,GUNUNG ANYAR,9.71,Surabaya Timur,-7.33916,112.80459,GUNUNG ANYAR,26188,25932,52120
14,SUKOLILO,23.68,Surabaya Timur,-7.28818,112.81651,SUKOLILO,52445,52448,104893
15,MULYOREJO,14.21,Surabaya Timur,-7.26931,112.79268,MULYOREJO,41178,41595,82773
16,SAWAHAN,6.93,Surabaya Selatan,-7.26301,112.72117,SAWAHAN,100426,101295,201721
17,WONOKROMO,8.47,Surabaya Selatan,-7.30266,112.73309,WONOKROMO,79629,80335,159964
18,KARANGPILANG,9.23,Surabaya Selatan,-7.33778,112.68840,KARANGPILANG,35382,34940,70322
19,DUKUH PAKIS,9.94,Surabaya Selatan,-7.29684,112.70032,DUKUH PAKIS,29245,29184,58429
20,WIYUNG,12.46,Surabaya Selatan,-7.31526,112.68542,WIYUNG,33220,32522,65742
21,WONOCOLO,6.77,Surabaya Selatan,-7.31982,112.74203,WONOCOLO,39299,39038,78337
22,GAYUNGAN,6.07,Surabaya Selatan,-7.33084,112.72415,GAYUNGAN,22104,21988,44092
23,JAMBANGAN,4.19,Surabaya Selatan,-7.32108,112.71819,JAMBANGAN,23986,23562,47548
24,TANDES,11.07,Surabaya Barat,-7.25544,112.67350,TANDES,44757,44712,89469
25,SUKOMANUNGGAL,9.23,Surabaya Barat,-7.26426,112.69734,SUKOMANUNGGAL,49067,48842,97909
26,ASEMROWO,15.44,Surabaya Barat,-7.23469,112.68542,ASEMROWO,22068,20905,42973
27,BENOWO,23.73,Surabaya Barat,-7.22649,112.64966,BENOWO,28145,27609,55754
28,PAKAL,22.07,Surabaya Barat,-7.22835,112.61391,PAKAL,24716,23768,48484
29,LAKARSANTRI,18.99,Surabaya Barat,-7.31651,112.66158,LAKARSANTRI,27042,26430,53472
30,SAMBIKEREP,23.68,Surabaya Barat,-7.27684,112.64966,SAMBIKEREP,29522,29044,58566

In [17]:
data_total = data_total.drop("Neighborhood", axis=1)
data_total.head()

,Areas Region(km squared),Borough,latitude,longitude,District,Male,Female,Total
0,4.29,Surabaya Pusat,-8.40185,114.11810,TEGALSARI,50843,50873,101716
1,4.05,Surabaya Pusat,-8.36658,114.14630,GENTENG,29387,29886,59273
2,3.86,Surabaya Pusat,-7.24996,112.73011,BUBUTAN,50909,50903,101812
3,2.59,Surabaya Pusat,-7.23865,112.75394,SIMOKERTO,48905,48808,97713
4,6.80,Surabaya Utara,-7.21475,112.73011,PABEAN CANTIKAN,41419,40964,82383

In [18]:
data_total.columns

Index(['Areas Region(km squared)', 'Borough', 'latitude', 'longitude',
       'District', 'Male', 'Female', 'Total'],
      dtype='object')

In [19]:
column_change = ['District','Areas Region(km squared)', 'Borough', 'latitude', 'longitude','Male', 'Female', 'Total']
data_total = data_total.reindex(columns=column_change)

In [20]:
data_total.head()

,District,Areas Region(km squared),Borough,latitude,longitude,Male,Female,Total
0,TEGALSARI,4.29,Surabaya Pusat,-8.40185,114.11810,50843,50873,101716
1,GENTENG,4.05,Surabaya Pusat,-8.36658,114.14630,29387,29886,59273
2,BUBUTAN,3.86,Surabaya Pusat,-7.24996,112.73011,50909,50903,101812
3,SIMOKERTO,2.59,Surabaya Pusat,-7.23865,112.75394,48905,48808,97713
4,PABEAN CANTIKAN,6.80,Surabaya Utara,-7.21475,112.73011,41419,40964,82383

In [21]:
data_total.columns = ['District','Areas Region(km squared)', 'Borough', 'Latitude', 'Longitude','Male Population', 'Female Population', 'Total Population']

In [22]:
data_total.head()

,District,Areas Region(km squared),Borough,Latitude,Longitude,Male Population,Female Population,Total Population
0,TEGALSARI,4.29,Surabaya Pusat,-8.40185,114.11810,50843,50873,101716
1,GENTENG,4.05,Surabaya Pusat,-8.36658,114.14630,29387,29886,59273
2,BUBUTAN,3.86,Surabaya Pusat,-7.24996,112.73011,50909,50903,101812
3,SIMOKERTO,2.59,Surabaya Pusat,-7.23865,112.75394,48905,48808,97713
4,PABEAN CANTIKAN,6.80,Surabaya Utara,-7.21475,112.73011,41419,40964,82383

There are some strange value at Tegalsari and Genteng and

In [23]:
#change Tegalsari coordinate
data_total['Latitude'][0] = -7.2798481
data_total['Longitude'][0] = 112.7360686
#change Genteng coordinate
data_total['Latitude'][1] = -7.2590879
data_total['Longitude'][1] = 112.7479862

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [25]:
data_total.head()

,District,Areas Region(km squared),Borough,Latitude,Longitude,Male Population,Female Population,Total Population
0,TEGALSARI,4.29,Surabaya Pusat,-7.279848,112.736069,50843,50873,101716
1,GENTENG,4.05,Surabaya Pusat,-7.259088,112.747986,29387,29886,59273
2,BUBUTAN,3.86,Surabaya Pusat,-7.249960,112.730110,50909,50903,101812
3,SIMOKERTO,2.59,Surabaya Pusat,-7.238650,112.753940,48905,48808,97713
4,PABEAN CANTIKAN,6.80,Surabaya Utara,-7.214750,112.730110,41419,40964,82383

And then just save it into a csv.

In [24]:
data_total.to_csv("Surabaya_Full_of_Data.csv", index=False)