Welcome to the first part of many about how I can getting this visualization. First of all, I should find the data and luckily I can found it on BPS Surabaya website, but I should scraping it since that I can't downloaded the file. So, here we go.

In [1]:
import requests

Then, we are want to get request from BPS website, currently the updated in 2014, so I should use it.

In [2]:
website_url = requests.get('https://surabayakota.bps.go.id/statictable/2015/01/09/322/banyaknya-penduduk-menurut-jenis-kelamin-per-kecamatan-hasil-registrasi-2014.html').text

And then, we are using Beautiful Soup for scraping the website page, and get things done.

In [3]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(website_url,'lxml')
print(soup.prettify())

     <a href="https://surabayakota.bps.go.id/menu/1/tentang-bps.html">
             Tentang BPS
            </a>
           </li>
           <li class="sb-close" style="padding-left:15px;">
            <a href="https://surabayakota.bps.go.id/menu/38/program-dan-kegiatan.html">
             Program dan Kegiatan
            </a>
           </li>
           <li class="sb-close" style="padding-left:15px;">
            <a href="https://surabayakota.bps.go.id/menu/32/profil-singkat-pejabat.html">
             Profil Singkat Pejabat
            </a>
           </li>
           <li class="sb-close" style="padding-left:15px;">
            <a href="https://surabayakota.bps.go.id/menu/28/penghargaan.html">
             Penghargaan
            </a>
           </li>
           <li class="sb-close" style="padding-left:15px;">
            <a href="https://surabayakota.bps.go.id/menu/34/review-ke-3-perjanjian-kinerja-bps-kota-surabaya-ta-2016.html">
             Review Ke-3 Perjanjian Kinerja BPS Kota Surabaya TA 2016
            </a>
           </li>
           <li class="sb-close" style="padding-left:15px;">
            <a href="https://surabayakota.bps.go.id/menu/39/laporan-kinerja-.html">
             Laporan Kinerja
            </a>
           </li>
           <li class="sb-close" style="padding-left:15px;">
            <a href="https://surabayakota.bps.go.id/menu/36/laporan-kinerja-bps-kota-surabaya-tahun-2016.html">
             Laporan Kinerja BPS Kota Surabaya Tahun 2016
            </a>
           </li>
          </ul>
         </li>
         <li style="padding-left:10px;">
          <a class="sb-toggle-submenu" href="#">
           Setiap Saat
           <span class="sb-caret">
           </span>
          </a>
          <ul class="sb-submenu" style="display: none;">
           <li class="sb-close" style="padding-left:15px;">
            <a href="https://surabayakota.bps.go.id/menu/24/unduh.html">
             Unduh
            </a>
           </li>
           <li class="sb-close" style="padding-left:15px;">
            <a href="https://surabayakota.bps.go.id/menu/29/regulasi.html">
             Regulasi
            </a>
           </li>
           <li class="sb-close" style="padding-left:15px;">
            <a href="https://surabayakota.bps.go.id/menu/30/layanan-pengaduan.html">
             Layanan Pengaduan
            </a>
           </li>
          </ul>
         </li>
         <li style="padding-left:10px;">
          <a class="sb-toggle-submenu" href="#">
           Dikecualikan
           <span class="sb-caret">
           </span>
          </a>
          <ul class="sb-submenu" style="display: none;">
          </ul>
         </li>
        </ul>
       </li>
       <li>
        <a class="sb-toggle-submenu" href="#">
         Tautan
         <span class="sb-caret">
         </span>
        </a>
        <ul class="sb-submenu" style="display: none;">
         <li class="sb-close" style="padding-left:10px;">
          <a href="/galery.html">
           Galeri Infografis
          </a>
         </li>
         <li class="sb-close" style="padding-left:10px;">
          <a href="/site/pilihdata.html">
           Tabel Dinamis
          </a>
         </li>
         <li class="sb-close" style="padding-left:10px;">
          <a href="/Istilah.html">
           Istilah
          </a>
         </li>
         <li class="sb-close" style="padding-left:10px;">
          <a href="http://microdata.bps.go.id" target="_blank">
           Katalog Datamikro
          </a>
         </li>
         <li class="sb-close" style="padding-left:10px;">
          <a href="http://sirusa.bps.go.id" target="_blank">
           Metadata
          </a>
         </li>
         <li class="sb-close" style="padding-left:10px;">
          <a href="http://rb.bps.go.id/" target="_blank">
           Reformasi Birokrasi
          </a>
         </li>
         <!--<li class="sb-close" style="padding-left:10px;"><a href='http://statcapcerdas.bps.go.id/' target="_blank" ></a></li>-->
         <li class="sb-close" style="padding-left:10px;">
          <a href="http://mfdonline.bps.go.id/" target="_blank">
           Master File Desa
          </a>
         </li>
         <li class="sb-close" style="padding-left:10px;">
          <a href="http://spkonline.bps.go.id/" target="_blank">
           SPK Online
          </a>
         </li>
         <li class="sb-close" style="padding-left:10px;">
          <a href="http://pengaduan.bps.go.id/" target="_blank">
           Pengaduan
          </a>
         </li>
         <li class="sb-close" style="padding-left:10px;">
          <a href="http://lpse.bps.go.id/" target="_blank">
           LPSE
          </a>
         </li>
         <li class="sb-close" style="padding-left:10px;">
          <a href="http://www.stis.ac.id/" target="_blank">
           Sekolah Tinggi Ilmu Statistik
          </a>
         </li>
         <li class="sb-close" style="padding-left:10px;">
          <a href="http://pusdiklat.bps.go.id/" target="_blank">
           Pusat Pendidikan dan Latihan BPS
          </a>
         </li>
        </ul>
       </li>
       <li>
        <small>
         Hak Cipta &amp;copy Badan Pusat Statistik Republik Indonesia
        </small>
       </li>
      </ul>
     </nav>
    </div>
    <!-- /.sb-left -->
    <div class="sb-slidebar sb-right">
     <aside id="about-me">
      <style>
       .accordion-container#accordion-daftar-subjek .responsive-accordion-default.responsive-accordion li .responsive-accordion-head{
		/*berubah*/
		min-height: 60px;
        font-size: 1em;
}

/*revisi*/
h2.ctgr{
	background-size:100% 100% !important;background-repeat:no-repeat !important;
	font-size: 13px;
	border: 1px solid #c1c1c1;
	border-top: 0px solid #c1c1c1;
	margin: 0px;
	padding: 10px 15px;
	background: #00497d;
	color: white;
	cursor: pointer;
}
.resp-tab-content2 {
    border: 1px solid #c1c1c1;
    padding: 10px !important;
    background-color: white;
}
.resp-tab-content2 p.even {
    background-color: #ECECEC;
    color: #00497d;
}
.resp-tab-content2 p.odd {
    background-color: white;
    color: #00497d;
}
.resp-tab-content2 p {
    margin: 0 0 5px;
}
h2.tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid white;
}
#tab_item-0{
background:url(/images/mobile/birutua.png);
}
#tab_item-1{
background:url(/images/mobile/orange.png);
}
#tab_item-2{
background:url(/images/mobile/hijau.png);
}
      </style>
      <div id="accordion-daftar-subjek2" style="display: block; width: 100%; margin: 0px;">
       <div class="resp-tabs-container2">
        <h2 class="ctgr tab_item-0" id="tab_item-0" onclick="sosial();">
         <span class="resp-arrow">
         </span>
         Sosial dan
         <br/>
         Kependudukan
        </h2>
        <div aria-labelledby="tab_item-0" class="resp-tab-content2" id="sosial">
         <p class="even">
          <small>
           <a href="/subject/108/agama.html#subjekViewTab3">
            Agama
           </a>
          </small>
         </p>
         <p class="odd">
          <small>
           <a href="/subject/40/gender.html#subjekViewTab3">
            Gender
           </a>
          </small>
         </p>
         <p class="even">
          <small>
           <a href="/subject/153/geografi.html#subjekViewTab3">
            Geografi
           </a>
          </small>
         </p>
         <p class="list-sosial odd" style="display:none">
          <small>
           <a href="/subject/151/iklim.html#subjekViewTab3">
            Iklim
           </a>
          </small>
         </p>
         <p class="list-sosial even" style="display:none">
          <small>
           <a href="/subject/26/indeks-pembangunan-manusia.html#subjekViewTab3">
            Indeks Pembangunan Manusia
           </a>
          </small>
         </p>
         <p class="list-sosial odd" style="display:none">
          <small>
           <a href="/subject/23/kemiskinan.html#subjekViewTab3">
            Kemiskinan
           </a>
          </small>
         </p>
         <p class="list-sosial even" style="display:none">
          <small>
           <a href="/subject/12/kependudukan.html#subjekViewTab3">
            Kependudukan
           </a>
          </small>
         </p>
         <p class="list-sosial odd" style="display:none">
          <small>
           <a href="/subject/30/kesehatan.html#subjekViewTab3">
            Kesehatan
           </a>
          </small>
         </p>
         <p class="list-sosial even" style="display:none">
          <small>
           <a href="/subject/5/konsumsi-dan-pengeluaran.html#subjekViewTab3">
            Konsumsi dan Pengeluaran
           </a>
          </small>
         </p>
         <p class="list-sosial odd" style="display:none">
          <small>
           <a href="/subject/101/pemerintahan.html#subjekViewTab3">
            Pemerintahan
           </a>
          </small>
         </p>
         <p class="list-sosial even" style="display:none">
          <small>
           <a href="/subject/28/pendidikan.html#subjekViewTab3">
            Pendidikan
           </a>
          </small>
         </p>
         <p class="list-sosial odd" style="display:none">
          <small>
           <a href="/subject/6/tenaga-kerja.html#subjekViewTab3">
            Tenaga Kerja
           </a>
          </small>
         </p>
         <p class="odd" style="text-align:right;">
          <button class="sosial-more btn btn-xs btn-info" onclick="sosial();">
           Selengkapnya...
          </button>
         </p>
        </div>
        <h2 class="ctgr tab_item-1" id="tab_item-1" onclick="ekonomi();">
         <span class="resp-arrow">
         </span>
         Ekonomi dan
         <br/>
         Perdagangan
        </h2>
        <div aria-labelledby="tab_item-1" class="resp-tab-content2" id="ekonomi">
         <p class="even">
          <small>
           <a href="/subject/7/energi.html#subjekViewTab3">
            Energi
           </a>
          </small>
         </p>
         <p class="odd">
          <small>
           <a href="/subject/9/industri.html#subjekViewTab3">
            Industri
           </a>
          </small>
         </p>
         <p class="even">
          <small>
           <a href="/subject/3/inflasi.html#subjekViewTab3">
            Inflasi
           </a>
          </small>
         </p>
         <p class="list-ekonomi odd" style="display:none">
          <small>
           <a href="/subject/13/keuangan.html#subjekViewTab3">
            Keuangan
           </a>
          </small>
         </p>
         <p class="list-ekonomi even" style="display:none">
          <small>
           <a href="/subject/2/komunikasi.html#subjekViewTab3">
            Komunikasi
           </a>
          </small>
         </p>
         <p class="list-ekonomi odd" style="display:none">
          <small>
           <a href="/subject/16/pariwisata.html#subjekViewTab3">
            Pariwisata
           </a>
          </small>
         </p>
         <p class="list-ekonomi even" style="display:none">
          <small>
           <a href="/subject/52/produk-domestik-regional-bruto.html#subjekViewTab3">
            Produk Domestik Regional Bruto
           </a>
          </small>
         </p>
         <p class="list-ekonomi odd" style="display:none">
          <small>
           <a href="/subject/156/produk-domestik-regional-bruto--lapangan-usaha-.html#subjekViewTab3">
            Produk Domestik Regional Bruto (Lapangan Usaha)
           </a>
          </small>
         </p>
         <p class="list-ekonomi even" style="display:none">
          <small>
           <a href="/subject/155/produk-domestik-regional-bruto--pengeluaran-.html#subjekViewTab3">
            Produk Domestik Regional Bruto (Pengeluaran)
           </a>
          </small>
         </p>
         <p class="list-ekonomi odd" style="display:none">
          <small>
           <a href="/subject/17/transportasi.html#subjekViewTab3">
            Transportasi
           </a>
          </small>
         </p>
         <p class="odd" style="text-align:right;">
          <button class="ekonomi-more btn btn-xs btn-warning" onclick="ekonomi();">
           Selengkapnya...
          </button>
         </p>
        </div>
        <h2 class="ctgr tab_item-2" id="tab_item-2" onclick="pertanian();">
         <span class="resp-arrow">
         </span>
         Pertanian dan
         <br/>
         Pertambangan
        </h2>
        <div aria-labelledby="tab_item-2" class="resp-tab-content2" id="pertanian">
         <p class="even">
          <small>
           <a href="/subject/55/hortikultura.html#subjekViewTab3">
            Hortikultura
           </a>
          </small>
         </p>
         <p class="odd">
          <small>
           <a href="/subject/60/kehutanan.html#subjekViewTab3">
            Kehutanan
           </a>
          </small>
         </p>
         <p class="even">
          <small>
           <a href="/subject/56/perikanan.html#subjekViewTab3">
            Perikanan
           </a>
          </small>
         </p>
         <p class="list-pertanian odd" style="display:none">
          <small>
           <a href="/subject/54/perkebunan.html#subjekViewTab3">
            Perkebunan
           </a>
          </small>
         </p>
         <p class="list-pertanian even" style="display:none">
          <small>
           <a href="/subject/24/peternakan.html#subjekViewTab3">
            Peternakan
           </a>
          </small>
         </p>
         <p class="list-pertanian odd" style="display:none">
          <small>
           <a href="/subject/53/tanaman-pangan.html#subjekViewTab3">
            Tanaman Pangan
           </a>
          </small>
         </p>
         <p class="odd" style="text-align:right;">
          <button class="pertanian-more btn btn-xs btn-success" onclick="pertanian();">
           Selengkapnya...
          </button>
         </p>
        </div>
       </div>
      </div>
     </aside>
    </div>
    <!-- /.sb-right -->
   </div>
  </nav>
 </body>
 <script type="text/javascript">
  $(document).ready(function() {
      var tampil=1;
        if (tampil=true) {
            $('.popupbaru').trigger('click');
        }
    });
 </script>
 <script src="https://surabayakota.bps.go.id/js/mobile/bootstrap.min.js;wa3e2ca0b55e16144e">
 </script>
 <script src="https://surabayakota.bps.go.id/js/accordion/responsive-accordion.js;wada2c63e75ef95827" type="text/javascript">
 </script>
 <!-- Slidebars -->
 <script src="https://surabayakota.bps.go.id/js/mobile/slidebars.min.js;wacd5f806f6067b486">
 </script>
 <script src="https://surabayakota.bps.go.id/slick/slick.js;wa3bdbf9fad2d55e4f" type="text/javascript">
 </script>
 <script src="https://surabayakota.bps.go.id/mod/simplemodal/js/jquery.simplemodal.js;waf92ccc31fa76eaca" type="text/javascript">
 </script>
 <script>
  (function($) {
				$(document).ready(function() {
					/* ===== Script Jquery untuk menampilkan slidebar kiri kanan ketika tampilan mobile ===== */
						// Initiate Slidebars
						$.slidebars();

						// Slidebars Submenus
						$('.sb-toggle-submenu').off('click').on('click', function() {
							$submenu = $(this).parent().children('.sb-submenu');
							$(this).add($submenu).toggleClass('sb-submenu-active'); // Toggle active class.

							if ($submenu.hasClass('sb-submenu-active')) {
								$submenu.slideDown(200);
								/*dua baris ini adalah baris modifikasi agar side slider menu bisa bertindak layaknya accordion*/
								$(this).parent().siblings().find("a").removeClass("sb-submenu-active");
								$(this).parent().siblings().find("ul").removeClass("sb-submenu-active").hide();
							} else {
								$submenu.slideUp(200);
							}
						});

					//dimz-add
					$("li.sb-close, li.sb-close a").off("touchend");
						// Script Jquery untuk menampilkan submenu ketika salah satu item menu bar disorot.
						$('ul.menus>li').hover(
						  function() {
						   $(this).siblings().find("div table ul.submenus").css("display","none");
							$(this).find("div table ul.submenus").css("display","block");
						  }, function() {
							$(this).children("ul.submenus").css("display","none");
						  }
						);


						// Script Jquery untuk menampilkan subsubmenu ketika salah satu item submenu dari tab 'Informasi Publik' disorot.
						$('ul.menus > li:nth-child(7) > div table ul.submenus >li').hover(
						  function() {
							$(this).siblings().children("ul.subsubmenus").css("display","none");
							$(this).children("ul.subsubmenus").css("display","block");
						  }, function() {
							$(this).children("ul.subsubmenus").css("display","none");
						  }
						);

						// Script Jquery untuk menyembunyikan panel submenu ketika keluar dari panel submenu tersebut.
						$('ul.submenus')
						.hover(
						  function() {
							$(this).css("display","none");
						  }
						);

						// Script jquery  untuk mengubah warna latar belakang menu tabs yang tersorot.
						$('ul.submenus >li,ul.subsubmenus >li')
						.hover(
						  function() {
							$(this).css("background-color","rgb(211, 221, 221)");
							$(this).children("a").css("text-decoration","none");
						  },
						  function() {
							$(this).css("background-color","white");
						  }
						);

					/* ===== Script Jquery yang mengatur event yang terjadi pada tombol sensus ===== */
						$('#tombol-sensus').click(
							function(){
							$('#list-sensus').toggle();
							}
						);

						$('#tombol-sensus').hover(
							function(){
							$(this).css('cursor','pointer');
							$('.navicon-line').css('-moz-box-shadow','0 0 5px #2C44EA').css('-webkit-box-shadow','0 0 5px #2C44EA').css('box-shadow','0 0 5px #2C44EA');
							}
							,
							function(){
							$('.navicon-line').css('-moz-box-shadow','none').css('-webkit-box-shadow','none').css('box-shadow','none');
							}
						);

						$('#list-sensus ul').hover(
							function(){

							},
							function(){
							$("#list-sensus").hide();
							}
						);
						$('#list-sensus ul li').hover(
							function(){
							$(this).css('margin','0px -5px');
							}
							,
							function(){
							$(this).css('margin','0px');
							}
						);
						$(".box #accordion-daftar-subjek").easyResponsiveTabs({
							type: "accordion", //Types: default, vertical, accordion
							width: "auto", //auto or any width like 600px
							fit: true,   // 100% fit in a container
							activate: function(event) {  }// Callback function if tab is switched
					        });
						$("aside #accordion-daftar-subjek").easyResponsiveTabs({
							type: "accordion", //Types: default, vertical, accordion
							width: "auto", //auto or any width like 600px
							fit: true,   // 100% fit in a container
							activate: function(event) {  }// Callback function if tab is switched
					        });

				});
			}) (jQuery);
 </script>
 <!-- Prettify -->
 <!-- Smooth Page Scrolling -->
 <script>
  (function($) {
				$(document).ready(function() {
					$('a[href="#"]').not('a.sb-toggle-submenu').on('touchend click', function(e) {
					//dimz-edit
						e.preventDefault();
						var id = $(this).attr("href");
						var offset = 70;
						var target = $(id).offset().top - offset;

						$('html, body').animate({scrollTop:target}, 500);
					});
				});
			}) (jQuery);
 </script>
 <!-- Form Validation -->
 <script src="https://surabayakota.bps.go.id/js/mobile/form-validation.js;wa8e4438a3177b5020">
 </script>
 <script>
  /*
			(function($) {
				$(document).ready(function() {
					// Slidebars Submenus
					$('#forced_desktop_floating_search_trigger').on('click', function() {
					$('#floating_search').show();
					});
				});
			}) (jQuery);*/
 </script>
</html>

And then let's find the table we are currently looking for, in tag **excel1865**.

In [4]:
my_table = soup.find('table',{'class':'excel1865'})
my_table

<table cellpadding="0" cellspacing="0" class="excel1865">
<col style="width:139pt;" width="185"/>
<col span="3" style="width:83pt;" width="110"/>
<tr style="height:15.0pt;">
<td class="excel1897" colspan="4" style="height:15.0pt;width:388pt;" width="515">Banyaknya    Penduduk Menurut Jenis Kelamin Per Kecamatan Hasil Registrasi, 2014</td>
</tr>
<tr style="height:15.75pt;">
<td class="excel1896" colspan="4" style="height:15.75pt;">Population by Sex    and Sub District Taken  from Population    Registar, 2014</td>
</tr>
<tr style="height:20.1pt;">
<td class="excel1894" rowspan="2" style="border-bottom:.5pt solid black;height:40.2pt;border-top:none;">Kecamatan/<font class="font5">sub district</font></td>
<td class="excel1878" style="border-top:none;border-left:none;">Laki-laki/</td>
<td class="excel1878" style="border-top:none;border-left:none;">Perempuan/</td>
<td class="excel1879" style="border-top:none;border-left:none;">Jumlah/</td>
</tr>
<tr style="height:20.1pt;">
<td class="excel1880" style="height:20.1pt;border-top:none;border-left:none;"> Male</td>
<td class="excel1880" style="border-top:none;border-left:none;">Female</td>
<td class="excel1881" style="border-top:none;border-left:none;">Total</td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1884" style="height:15.0pt;">Surabaya Pusat</td>
<td class="excel1885"></td>
<td class="excel1885"></td>
<td class="excel1885"></td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1886" style="height:15.0pt;">Tegalsari       </td>
<td class="excel1887">50,843</td>
<td align="right" class="excel1888">50,873</td>
<td align="right" class="excel1889">101,716</td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1886" style="height:15.0pt;">Genteng                     </td>
<td align="right" class="excel1888">29,387</td>
<td align="right" class="excel1888">29,886</td>
<td align="right" class="excel1889">59,273</td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1886" style="height:15.0pt;">Bubutan </td>
<td align="right" class="excel1888">50,909</td>
<td align="right" class="excel1888">50,903</td>
<td align="right" class="excel1889">101,812</td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1886" style="height:15.0pt;">Simokerto                   </td>
<td align="right" class="excel1888">48,905</td>
<td align="right" class="excel1888">48,808</td>
<td align="right" class="excel1889">97,713</td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1884" style="height:15.0pt;">Surabaya Utara</td>
<td class="excel1890"></td>
<td class="excel1890"></td>
<td class="excel1889"></td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1886" style="height:15.0pt;">Pabean Cantikan</td>
<td align="right" class="excel1888">41,419</td>
<td align="right" class="excel1888">40,964</td>
<td align="right" class="excel1889">82,383</td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1886" style="height:15.0pt;">Semampir                    </td>
<td align="right" class="excel1888">92,390</td>
<td align="right" class="excel1888">90,141</td>
<td align="right" class="excel1889">182,531</td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1886" style="height:15.0pt;">Krembangan                  </td>
<td align="right" class="excel1888">58,136</td>
<td align="right" class="excel1888">57,502</td>
<td align="right" class="excel1889">115,638</td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1886" style="height:15.0pt;">Kenjeran                    </td>
<td align="right" class="excel1888">74,597</td>
<td align="right" class="excel1888">72,160</td>
<td align="right" class="excel1889">146,757</td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1886" style="height:15.0pt;">Bulak</td>
<td align="right" class="excel1888">20,446</td>
<td align="right" class="excel1888">20,196</td>
<td align="right" class="excel1889">40,642</td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1884" style="height:15.0pt;">Surabaya Timur</td>
<td class="excel1890"></td>
<td class="excel1890"></td>
<td class="excel1889"></td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1886" style="height:15.0pt;">Tambaksari                  </td>
<td align="right" class="excel1888">108,625</td>
<td align="right" class="excel1888">108,475</td>
<td align="right" class="excel1889">217,100</td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1886" style="height:15.0pt;">Gubeng                      </td>
<td align="right" class="excel1888">67,403</td>
<td align="right" class="excel1888">69,218</td>
<td align="right" class="excel1889">136,621</td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1886" style="height:15.0pt;">Rungkut                     </td>
<td align="right" class="excel1888">52,120</td>
<td align="right" class="excel1888">51,926</td>
<td align="right" class="excel1889">104,046</td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1886" style="height:15.0pt;">Tenggilis Mejoyo            </td>
<td align="right" class="excel1888">27,386</td>
<td align="right" class="excel1888">27,475</td>
<td align="right" class="excel1889">54,861</td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1886" style="height:15.0pt;">Gunung Anyar                </td>
<td align="right" class="excel1888">26,188</td>
<td align="right" class="excel1888">25,932</td>
<td align="right" class="excel1889">52,120</td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1886" style="height:15.0pt;">Sukolilo                    </td>
<td align="right" class="excel1888">52,445</td>
<td align="right" class="excel1888">52,448</td>
<td align="right" class="excel1889">104,893</td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1886" style="height:15.0pt;">Mulyorejo                   </td>
<td align="right" class="excel1888">41,178</td>
<td align="right" class="excel1888">41,595</td>
<td align="right" class="excel1889">82,773</td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1884" style="height:15.0pt;">Surabaya Selatan</td>
<td class="excel1890"></td>
<td class="excel1890"></td>
<td class="excel1889"></td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1886" style="height:15.0pt;">Sawahan                    </td>
<td align="right" class="excel1888">100,426</td>
<td align="right" class="excel1888">101,295</td>
<td align="right" class="excel1889">201,721</td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1886" style="height:15.0pt;">Wonokromo                  </td>
<td align="right" class="excel1888">79,629</td>
<td align="right" class="excel1888">80,335</td>
<td align="right" class="excel1889">159,964</td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1886" style="height:15.0pt;">Karangpilang               </td>
<td align="right" class="excel1888">35,382</td>
<td align="right" class="excel1888">34,940</td>
<td align="right" class="excel1889">70,322</td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1886" style="height:15.0pt;">Dukuh Pakis                </td>
<td align="right" class="excel1888">29,245</td>
<td align="right" class="excel1888">29,184</td>
<td align="right" class="excel1889">58,429</td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1886" style="height:15.0pt;">Wiyung                     </td>
<td align="right" class="excel1888">33,220</td>
<td align="right" class="excel1888">32,522</td>
<td align="right" class="excel1889">65,742</td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1886" style="height:15.0pt;">Wonocolo                   </td>
<td align="right" class="excel1888">39,299</td>
<td align="right" class="excel1888">39,038</td>
<td align="right" class="excel1889">78,337</td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1886" style="height:15.0pt;">Gayungan                   </td>
<td align="right" class="excel1888">22,104</td>
<td align="right" class="excel1888">21,988</td>
<td align="right" class="excel1889">44,092</td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1886" style="height:15.0pt;">Jambangan                  </td>
<td align="right" class="excel1888">23,986</td>
<td align="right" class="excel1888">23,562</td>
<td align="right" class="excel1889">47,548</td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1884" style="height:15.0pt;">Surabaya Barat</td>
<td class="excel1890"></td>
<td class="excel1890"></td>
<td class="excel1889"></td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1886" style="height:15.0pt;">Tandes                      </td>
<td align="right" class="excel1888">44,757</td>
<td align="right" class="excel1888">44,712</td>
<td align="right" class="excel1889">89,469</td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1886" style="height:15.0pt;">Sukomanunggal               </td>
<td align="right" class="excel1888">49,067</td>
<td align="right" class="excel1888">48,842</td>
<td align="right" class="excel1889">97,909</td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1886" style="height:15.0pt;">Asemrowo                    </td>
<td align="right" class="excel1888">22,068</td>
<td align="right" class="excel1888">20,905</td>
<td align="right" class="excel1889">42,973</td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1886" style="height:15.0pt;">Benowo                      </td>
<td align="right" class="excel1888">28,145</td>
<td align="right" class="excel1888">27,609</td>
<td align="right" class="excel1889">55,754</td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1886" style="height:15.0pt;">Lakarsantri                 </td>
<td align="right" class="excel1888">27,042</td>
<td align="right" class="excel1888">26,430</td>
<td align="right" class="excel1889">53,472</td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1886" style="height:15.0pt;">Pakal</td>
<td align="right" class="excel1888">24,716</td>
<td align="right" class="excel1888">23,768</td>
<td align="right" class="excel1889">48,484</td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1886" style="height:15.0pt;">Sambikerep</td>
<td align="right" class="excel1888">29,522</td>
<td align="right" class="excel1888">29,044</td>
<td align="right" class="excel1889">58,566</td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1886" style="height:15.0pt;"> </td>
<td class="excel1888"></td>
<td class="excel1888"></td>
<td class="excel1888"></td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1891" style="height:15.0pt;">Jumlah/<font class="font6">Total</font></td>
<td align="right" class="excel1875">1,430,985</td>
<td align="right" class="excel1875">1,422,676</td>
<td align="right" class="excel1875">2,853,661</td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1892" style="height:15.0pt;">2013</td>
<td align="right" class="excel1876">1,602,875</td>
<td align="right" class="excel1876">1,597,579</td>
<td align="right" class="excel1876">3,200,454</td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1893" style="height:15.0pt;">2012</td>
<td align="right" class="excel1877">1,566,072</td>
<td align="right" class="excel1877">1,559,504</td>
<td align="right" class="excel1877">3,125,576</td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1882" colspan="3" style="height:15.0pt;">Sumber    : Dinas Pendaftaran Penduduk dan Pencatatan Sipil Kota Surabaya</td>
<td class="excel1874"></td>
</tr>
<tr style="height:15.0pt;">
<td class="excel1883" colspan="3" style="height:15.0pt;">Source    : Registry of Inhabitants and Civil Registration Service of Surabaya City</td>
<td class="excel1874"></td>
</tr>
</table>

Checking is our table we are gathering is correct or not.

In [5]:
links = my_table.findAll('tr')
links[20].text

'\nGunung Anyar\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\n26,188\n25,932\n52,120\n'

Yeah, we got the Districts name, which means our data is correct. Go on.

In [6]:
links[5].text

'\nTegalsari\xa0\xa0\xa0\xa0\xa0\xa0\xa0\n50,843\n50,873\n101,716\n'

In this case we are trying to find all the data from index 1 until end, and we want to know what kind of data.

In [7]:
soup.find('table', class_='excel1865').find_all('tr')[1::1]

[<tr style="height:15.75pt;">
 <td class="excel1896" colspan="4" style="height:15.75pt;">Population by Sex    and Sub District Taken  from Population    Registar, 2014</td>
 </tr>, <tr style="height:20.1pt;">
 <td class="excel1894" rowspan="2" style="border-bottom:.5pt solid black;height:40.2pt;border-top:none;">Kecamatan/<font class="font5">sub district</font></td>
 <td class="excel1878" style="border-top:none;border-left:none;">Laki-laki/</td>
 <td class="excel1878" style="border-top:none;border-left:none;">Perempuan/</td>
 <td class="excel1879" style="border-top:none;border-left:none;">Jumlah/</td>
 </tr>, <tr style="height:20.1pt;">
 <td class="excel1880" style="height:20.1pt;border-top:none;border-left:none;"> Male</td>
 <td class="excel1880" style="border-top:none;border-left:none;">Female</td>
 <td class="excel1881" style="border-top:none;border-left:none;">Total</td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1884" style="height:15.0pt;">Surabaya Pusat</td>
 <td class="excel1885"></td>
 <td class="excel1885"></td>
 <td class="excel1885"></td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1886" style="height:15.0pt;">Tegalsari       </td>
 <td class="excel1887">50,843</td>
 <td align="right" class="excel1888">50,873</td>
 <td align="right" class="excel1889">101,716</td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1886" style="height:15.0pt;">Genteng                     </td>
 <td align="right" class="excel1888">29,387</td>
 <td align="right" class="excel1888">29,886</td>
 <td align="right" class="excel1889">59,273</td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1886" style="height:15.0pt;">Bubutan </td>
 <td align="right" class="excel1888">50,909</td>
 <td align="right" class="excel1888">50,903</td>
 <td align="right" class="excel1889">101,812</td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1886" style="height:15.0pt;">Simokerto                   </td>
 <td align="right" class="excel1888">48,905</td>
 <td align="right" class="excel1888">48,808</td>
 <td align="right" class="excel1889">97,713</td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1884" style="height:15.0pt;">Surabaya Utara</td>
 <td class="excel1890"></td>
 <td class="excel1890"></td>
 <td class="excel1889"></td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1886" style="height:15.0pt;">Pabean Cantikan</td>
 <td align="right" class="excel1888">41,419</td>
 <td align="right" class="excel1888">40,964</td>
 <td align="right" class="excel1889">82,383</td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1886" style="height:15.0pt;">Semampir                    </td>
 <td align="right" class="excel1888">92,390</td>
 <td align="right" class="excel1888">90,141</td>
 <td align="right" class="excel1889">182,531</td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1886" style="height:15.0pt;">Krembangan                  </td>
 <td align="right" class="excel1888">58,136</td>
 <td align="right" class="excel1888">57,502</td>
 <td align="right" class="excel1889">115,638</td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1886" style="height:15.0pt;">Kenjeran                    </td>
 <td align="right" class="excel1888">74,597</td>
 <td align="right" class="excel1888">72,160</td>
 <td align="right" class="excel1889">146,757</td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1886" style="height:15.0pt;">Bulak</td>
 <td align="right" class="excel1888">20,446</td>
 <td align="right" class="excel1888">20,196</td>
 <td align="right" class="excel1889">40,642</td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1884" style="height:15.0pt;">Surabaya Timur</td>
 <td class="excel1890"></td>
 <td class="excel1890"></td>
 <td class="excel1889"></td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1886" style="height:15.0pt;">Tambaksari                  </td>
 <td align="right" class="excel1888">108,625</td>
 <td align="right" class="excel1888">108,475</td>
 <td align="right" class="excel1889">217,100</td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1886" style="height:15.0pt;">Gubeng                      </td>
 <td align="right" class="excel1888">67,403</td>
 <td align="right" class="excel1888">69,218</td>
 <td align="right" class="excel1889">136,621</td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1886" style="height:15.0pt;">Rungkut                     </td>
 <td align="right" class="excel1888">52,120</td>
 <td align="right" class="excel1888">51,926</td>
 <td align="right" class="excel1889">104,046</td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1886" style="height:15.0pt;">Tenggilis Mejoyo            </td>
 <td align="right" class="excel1888">27,386</td>
 <td align="right" class="excel1888">27,475</td>
 <td align="right" class="excel1889">54,861</td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1886" style="height:15.0pt;">Gunung Anyar                </td>
 <td align="right" class="excel1888">26,188</td>
 <td align="right" class="excel1888">25,932</td>
 <td align="right" class="excel1889">52,120</td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1886" style="height:15.0pt;">Sukolilo                    </td>
 <td align="right" class="excel1888">52,445</td>
 <td align="right" class="excel1888">52,448</td>
 <td align="right" class="excel1889">104,893</td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1886" style="height:15.0pt;">Mulyorejo                   </td>
 <td align="right" class="excel1888">41,178</td>
 <td align="right" class="excel1888">41,595</td>
 <td align="right" class="excel1889">82,773</td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1884" style="height:15.0pt;">Surabaya Selatan</td>
 <td class="excel1890"></td>
 <td class="excel1890"></td>
 <td class="excel1889"></td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1886" style="height:15.0pt;">Sawahan                    </td>
 <td align="right" class="excel1888">100,426</td>
 <td align="right" class="excel1888">101,295</td>
 <td align="right" class="excel1889">201,721</td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1886" style="height:15.0pt;">Wonokromo                  </td>
 <td align="right" class="excel1888">79,629</td>
 <td align="right" class="excel1888">80,335</td>
 <td align="right" class="excel1889">159,964</td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1886" style="height:15.0pt;">Karangpilang               </td>
 <td align="right" class="excel1888">35,382</td>
 <td align="right" class="excel1888">34,940</td>
 <td align="right" class="excel1889">70,322</td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1886" style="height:15.0pt;">Dukuh Pakis                </td>
 <td align="right" class="excel1888">29,245</td>
 <td align="right" class="excel1888">29,184</td>
 <td align="right" class="excel1889">58,429</td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1886" style="height:15.0pt;">Wiyung                     </td>
 <td align="right" class="excel1888">33,220</td>
 <td align="right" class="excel1888">32,522</td>
 <td align="right" class="excel1889">65,742</td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1886" style="height:15.0pt;">Wonocolo                   </td>
 <td align="right" class="excel1888">39,299</td>
 <td align="right" class="excel1888">39,038</td>
 <td align="right" class="excel1889">78,337</td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1886" style="height:15.0pt;">Gayungan                   </td>
 <td align="right" class="excel1888">22,104</td>
 <td align="right" class="excel1888">21,988</td>
 <td align="right" class="excel1889">44,092</td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1886" style="height:15.0pt;">Jambangan                  </td>
 <td align="right" class="excel1888">23,986</td>
 <td align="right" class="excel1888">23,562</td>
 <td align="right" class="excel1889">47,548</td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1884" style="height:15.0pt;">Surabaya Barat</td>
 <td class="excel1890"></td>
 <td class="excel1890"></td>
 <td class="excel1889"></td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1886" style="height:15.0pt;">Tandes                      </td>
 <td align="right" class="excel1888">44,757</td>
 <td align="right" class="excel1888">44,712</td>
 <td align="right" class="excel1889">89,469</td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1886" style="height:15.0pt;">Sukomanunggal               </td>
 <td align="right" class="excel1888">49,067</td>
 <td align="right" class="excel1888">48,842</td>
 <td align="right" class="excel1889">97,909</td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1886" style="height:15.0pt;">Asemrowo                    </td>
 <td align="right" class="excel1888">22,068</td>
 <td align="right" class="excel1888">20,905</td>
 <td align="right" class="excel1889">42,973</td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1886" style="height:15.0pt;">Benowo                      </td>
 <td align="right" class="excel1888">28,145</td>
 <td align="right" class="excel1888">27,609</td>
 <td align="right" class="excel1889">55,754</td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1886" style="height:15.0pt;">Lakarsantri                 </td>
 <td align="right" class="excel1888">27,042</td>
 <td align="right" class="excel1888">26,430</td>
 <td align="right" class="excel1889">53,472</td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1886" style="height:15.0pt;">Pakal</td>
 <td align="right" class="excel1888">24,716</td>
 <td align="right" class="excel1888">23,768</td>
 <td align="right" class="excel1889">48,484</td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1886" style="height:15.0pt;">Sambikerep</td>
 <td align="right" class="excel1888">29,522</td>
 <td align="right" class="excel1888">29,044</td>
 <td align="right" class="excel1889">58,566</td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1886" style="height:15.0pt;"> </td>
 <td class="excel1888"></td>
 <td class="excel1888"></td>
 <td class="excel1888"></td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1891" style="height:15.0pt;">Jumlah/<font class="font6">Total</font></td>
 <td align="right" class="excel1875">1,430,985</td>
 <td align="right" class="excel1875">1,422,676</td>
 <td align="right" class="excel1875">2,853,661</td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1892" style="height:15.0pt;">2013</td>
 <td align="right" class="excel1876">1,602,875</td>
 <td align="right" class="excel1876">1,597,579</td>
 <td align="right" class="excel1876">3,200,454</td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1893" style="height:15.0pt;">2012</td>
 <td align="right" class="excel1877">1,566,072</td>
 <td align="right" class="excel1877">1,559,504</td>
 <td align="right" class="excel1877">3,125,576</td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1882" colspan="3" style="height:15.0pt;">Sumber    : Dinas Pendaftaran Penduduk dan Pencatatan Sipil Kota Surabaya</td>
 <td class="excel1874"></td>
 </tr>, <tr style="height:15.0pt;">
 <td class="excel1883" colspan="3" style="height:15.0pt;">Source    : Registry of Inhabitants and Civil Registration Service of Surabaya City</td>
 <td class="excel1874"></td>
 </tr>]

We got all of the table, the things that we should change it into better display.

In [8]:
# creating a new list
a,b,c,d = [],[],[],[]
for items in soup.find('table', class_='excel1865').find_all('tr')[1::1]:
    # find all of the data above and separate things to many columns
    data = items.find_all(['th','td'])
    try:
        # getting every data and save into a variable and..
        one = data[0].text
        two = data[1].text
        three = data[2].text
        four = data[3].text

        # save into list that we made
        a.append(one)
        b.append(two)
        c.append(three)
        d.append(four)
    except IndexError:pass

For example, let's check the lists b, is it going to be name of districts?

In [10]:
b

['Laki-laki/',
 '',
 '50,843',
 '29,387',
 '50,909',
 '48,905',
 '',
 '41,419',
 '92,390',
 '58,136',
 '74,597',
 '20,446',
 '',
 '108,625',
 '67,403',
 '52,120',
 '27,386',
 '26,188',
 '52,445',
 '41,178',
 '',
 '100,426',
 '79,629',
 '35,382',
 '29,245',
 '33,220',
 '39,299',
 '22,104',
 '23,986',
 '',
 '44,757',
 '49,067',
 '22,068',
 '28,145',
 '27,042',
 '24,716',
 '29,522',
 '',
 '1,430,985',
 '1,602,875',
 '1,566,072']

We got the number, so a should be the name of districts.

In [11]:
a

['Kecamatan/sub district',
 'Surabaya Pusat',
 'Tegalsari\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
 'Genteng\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
 'Bubutan\xa0',
 'Simokerto\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
 'Surabaya Utara',
 'Pabean Cantikan',
 'Semampir\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
 'Krembangan\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
 'Kenjeran\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
 'Bulak',
 'Surabaya Timur',
 'Tambaksari\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
 'Gubeng\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
 'Rungkut\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
 'Tenggilis Mejoyo\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
 'Gunung Anyar\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
 'Sukolilo\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
 'Mulyorejo\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
 'Surabaya Selatan',
 'Sawahan\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
 'Wonokromo\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
 'Karangpilang\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
 'Dukuh Pakis\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
 'Wiyung\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
 'Wonocolo\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
 'Gayungan\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
 'Jambangan\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
 'Surabaya Barat',
 'Tandes\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
 'Sukomanunggal\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
 'Asemrowo\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
 'Benowo\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
 'Lakarsantri\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
 'Pakal',
 'Sambikerep',
 '\xa0',
 'Jumlah/Total',
 '2013',
 '2012']

Okay, let's wrap up into the **DataFrame**.

In [12]:
import pandas as pd

In [13]:
data = pd.DataFrame({'District':a,'Male':b,'Female':c,'Total':d})

In [14]:
data

                        District        Male      Female      Total
0         Kecamatan/sub district  Laki-laki/  Perempuan/    Jumlah/
1                 Surabaya Pusat
2               Tegalsari             50,843      50,873    101,716
3   Genteng                           29,387      29,886     59,273
4                       Bubutan       50,909      50,903    101,812
5   Simokerto                         48,905      48,808     97,713
6                 Surabaya Utara
7                Pabean Cantikan      41,419      40,964     82,383
8   Semampir                          92,390      90,141    182,531
9   Krembangan                        58,136      57,502    115,638
10  Kenjeran                          74,597      72,160    146,757
11                         Bulak      20,446      20,196     40,642
12                Surabaya Timur
13  Tambaksari                       108,625     108,475    217,100
14  Gubeng                            67,403      69,218    136,621
15  Rungkut                           52,120      51,926    104,046
16  Tenggilis Mejoyo                  27,386      27,475     54,861
17  Gunung Anyar                      26,188      25,932     52,120
18  Sukolilo                          52,445      52,448    104,893
19  Mulyorejo                         41,178      41,595     82,773
20              Surabaya Selatan
21   Sawahan                         100,426     101,295    201,721
22   Wonokromo                        79,629      80,335    159,964
23   Karangpilang                     35,382      34,940     70,322
24   Dukuh Pakis                      29,245      29,184     58,429
25   Wiyung                           33,220      32,522     65,742
26   Wonocolo                         39,299      39,038     78,337
27   Gayungan                         22,104      21,988     44,092
28   Jambangan                        23,986      23,562     47,548
29                Surabaya Barat
30  Tandes                            44,757      44,712     89,469
31  Sukomanunggal                     49,067      48,842     97,909
32  Asemrowo                          22,068      20,905     42,973
33  Benowo                            28,145      27,609     55,754
34  Lakarsantri                       27,042      26,430     53,472
35                         Pakal      24,716      23,768     48,484
36                    Sambikerep      29,522      29,044     58,566
37
38                  Jumlah/Total   1,430,985   1,422,676  2,853,661
39                          2013   1,602,875   1,597,579  3,200,454
40                          2012   1,566,072   1,559,504  3,125,576

Hmm, I think there are some mistakes, there are some missing values which is it should be.

In [15]:
data.Total.unique()

array(['Jumlah/', '', '101,716', '59,273', '101,812', '97,713', '82,383',
       '182,531', '115,638', '146,757', '40,642', '217,100', '136,621',
       '104,046', '54,861', '52,120', '104,893', '82,773', '201,721',
       '159,964', '70,322', '58,429', '65,742', '78,337', '44,092',
       '47,548', '89,469', '97,909', '42,973', '55,754', '53,472',
       '48,484', '58,566', '2,853,661', '3,200,454', '3,125,576'],
      dtype=object)

Ah, there it is, some spaces should ruining all of the results, let's deleted.

In [16]:
data = data[data.Total != '']
data

                        District        Male      Female      Total
0         Kecamatan/sub district  Laki-laki/  Perempuan/    Jumlah/
2               Tegalsari             50,843      50,873    101,716
3   Genteng                           29,387      29,886     59,273
4                       Bubutan       50,909      50,903    101,812
5   Simokerto                         48,905      48,808     97,713
7                Pabean Cantikan      41,419      40,964     82,383
8   Semampir                          92,390      90,141    182,531
9   Krembangan                        58,136      57,502    115,638
10  Kenjeran                          74,597      72,160    146,757
11                         Bulak      20,446      20,196     40,642
13  Tambaksari                       108,625     108,475    217,100
14  Gubeng                            67,403      69,218    136,621
15  Rungkut                           52,120      51,926    104,046
16  Tenggilis Mejoyo                  27,386      27,475     54,861
17  Gunung Anyar                      26,188      25,932     52,120
18  Sukolilo                          52,445      52,448    104,893
19  Mulyorejo                         41,178      41,595     82,773
21   Sawahan                         100,426     101,295    201,721
22   Wonokromo                        79,629      80,335    159,964
23   Karangpilang                     35,382      34,940     70,322
24   Dukuh Pakis                      29,245      29,184     58,429
25   Wiyung                           33,220      32,522     65,742
26   Wonocolo                         39,299      39,038     78,337
27   Gayungan                         22,104      21,988     44,092
28   Jambangan                        23,986      23,562     47,548
30  Tandes                            44,757      44,712     89,469
31  Sukomanunggal                     49,067      48,842     97,909
32  Asemrowo                          22,068      20,905     42,973
33  Benowo                            28,145      27,609     55,754
34  Lakarsantri                       27,042      26,430     53,472
35                         Pakal      24,716      23,768     48,484
36                    Sambikerep      29,522      29,044     58,566
38                  Jumlah/Total   1,430,985   1,422,676  2,853,661
39                          2013   1,602,875   1,597,579  3,200,454
40                          2012   1,566,072   1,559,504  3,125,576

Reset our index since that there are some unsequence index.

In [17]:
data = data[1:].reset_index(drop=True)

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 4 columns):
District    34 non-null object
Male        34 non-null object
Female      34 non-null object
Total       34 non-null object
dtypes: object(4)
memory usage: 1.1+ KB

In [19]:
data

                        District       Male     Female      Total
0               Tegalsari            50,843     50,873    101,716
1   Genteng                          29,387     29,886     59,273
2                       Bubutan      50,909     50,903    101,812
3   Simokerto                        48,905     48,808     97,713
4                Pabean Cantikan     41,419     40,964     82,383
5   Semampir                         92,390     90,141    182,531
6   Krembangan                       58,136     57,502    115,638
7   Kenjeran                         74,597     72,160    146,757
8                          Bulak     20,446     20,196     40,642
9   Tambaksari                      108,625    108,475    217,100
10  Gubeng                           67,403     69,218    136,621
11  Rungkut                          52,120     51,926    104,046
12  Tenggilis Mejoyo                 27,386     27,475     54,861
13  Gunung Anyar                     26,188     25,932     52,120
14  Sukolilo                         52,445     52,448    104,893
15  Mulyorejo                        41,178     41,595     82,773
16   Sawahan                        100,426    101,295    201,721
17   Wonokromo                       79,629     80,335    159,964
18   Karangpilang                    35,382     34,940     70,322
19   Dukuh Pakis                     29,245     29,184     58,429
20   Wiyung                          33,220     32,522     65,742
21   Wonocolo                        39,299     39,038     78,337
22   Gayungan                        22,104     21,988     44,092
23   Jambangan                       23,986     23,562     47,548
24  Tandes                           44,757     44,712     89,469
25  Sukomanunggal                    49,067     48,842     97,909
26  Asemrowo                         22,068     20,905     42,973
27  Benowo                           28,145     27,609     55,754
28  Lakarsantri                      27,042     26,430     53,472
29                         Pakal     24,716     23,768     48,484
30                    Sambikerep     29,522     29,044     58,566
31                  Jumlah/Total  1,430,985  1,422,676  2,853,661
32                          2013  1,602,875  1,597,579  3,200,454
33                          2012  1,566,072  1,559,504  3,125,576

Next step is change the string type of the number in **Male**, **Female** and **Total** since that we should getting these as a number.

In [20]:
def change(col1,col2,col3):
    # changing the what columns that we should change
    a = [col1,col2,col3]
    for ii in range(3):
        for i in range(len(data)):
            dat = data[a[ii]][i]
            # change the comma character into None
            strings = dat.translate({ord(','): None})
            data[a[ii]][i] = strings

In [21]:
change('Male','Female','Total')

In [22]:
data

                        District     Male   Female    Total
0               Tegalsari           50843    50873   101716
1   Genteng                         29387    29886    59273
2                       Bubutan     50909    50903   101812
3   Simokerto                       48905    48808    97713
4                Pabean Cantikan    41419    40964    82383
5   Semampir                        92390    90141   182531
6   Krembangan                      58136    57502   115638
7   Kenjeran                        74597    72160   146757
8                          Bulak    20446    20196    40642
9   Tambaksari                     108625   108475   217100
10  Gubeng                          67403    69218   136621
11  Rungkut                         52120    51926   104046
12  Tenggilis Mejoyo                27386    27475    54861
13  Gunung Anyar                    26188    25932    52120
14  Sukolilo                        52445    52448   104893
15  Mulyorejo                       41178    41595    82773
16   Sawahan                       100426   101295   201721
17   Wonokromo                      79629    80335   159964
18   Karangpilang                   35382    34940    70322
19   Dukuh Pakis                    29245    29184    58429
20   Wiyung                         33220    32522    65742
21   Wonocolo                       39299    39038    78337
22   Gayungan                       22104    21988    44092
23   Jambangan                      23986    23562    47548
24  Tandes                          44757    44712    89469
25  Sukomanunggal                   49067    48842    97909
26  Asemrowo                        22068    20905    42973
27  Benowo                          28145    27609    55754
28  Lakarsantri                     27042    26430    53472
29                         Pakal    24716    23768    48484
30                    Sambikerep    29522    29044    58566
31                  Jumlah/Total  1430985  1422676  2853661
32                          2013  1602875  1597579  3200454
33                          2012  1566072  1559504  3125576

And don't forget to change the type from string to integer.

In [23]:
data[['Male', 'Female', 'Total']] = data[['Male', 'Female', 'Total']].astype(int)

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 4 columns):
District    34 non-null object
Male        34 non-null int32
Female      34 non-null int32
Total       34 non-null int32
dtypes: int32(3), object(1)
memory usage: 760.0+ bytes

In [25]:
data

                        District     Male   Female    Total
0               Tegalsari           50843    50873   101716
1   Genteng                         29387    29886    59273
2                       Bubutan     50909    50903   101812
3   Simokerto                       48905    48808    97713
4                Pabean Cantikan    41419    40964    82383
5   Semampir                        92390    90141   182531
6   Krembangan                      58136    57502   115638
7   Kenjeran                        74597    72160   146757
8                          Bulak    20446    20196    40642
9   Tambaksari                     108625   108475   217100
10  Gubeng                          67403    69218   136621
11  Rungkut                         52120    51926   104046
12  Tenggilis Mejoyo                27386    27475    54861
13  Gunung Anyar                    26188    25932    52120
14  Sukolilo                        52445    52448   104893
15  Mulyorejo                       41178    41595    82773
16   Sawahan                       100426   101295   201721
17   Wonokromo                      79629    80335   159964
18   Karangpilang                   35382    34940    70322
19   Dukuh Pakis                    29245    29184    58429
20   Wiyung                         33220    32522    65742
21   Wonocolo                       39299    39038    78337
22   Gayungan                       22104    21988    44092
23   Jambangan                      23986    23562    47548
24  Tandes                          44757    44712    89469
25  Sukomanunggal                   49067    48842    97909
26  Asemrowo                        22068    20905    42973
27  Benowo                          28145    27609    55754
28  Lakarsantri                     27042    26430    53472
29                         Pakal    24716    23768    48484
30                    Sambikerep    29522    29044    58566
31                  Jumlah/Total  1430985  1422676  2853661
32                          2013  1602875  1597579  3200454
33                          2012  1566072  1559504  3125576

Everything is alright, shall we save this data? No, because we should clean one more columns, the District, because...

In [27]:
data.District.unique()

array(['Tegalsari\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
       'Genteng\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
       'Bubutan\xa0',
       'Simokerto\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
       'Pabean Cantikan',
       'Semampir\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
       'Krembangan\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
       'Kenjeran\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
       'Bulak',
       'Tambaksari\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
       'Gubeng\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
       'Rungkut\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
       'Tenggilis Mejoyo\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
       'Gunung Anyar\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
       'Sukolilo\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
       'Mulyorejo\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
       'Sawahan\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
       'Wonokromo\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
       'Karangpilang\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
       'Dukuh Pakis\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
       'Wiyung\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
       'Wonocolo\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
       'Gayungan\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
       'Jambangan\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
       'Tandes\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
       'Sukomanunggal\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
       'Asemrowo\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
       'Benowo\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
       'Lakarsantri\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0',
       'Pakal', 'Sambikerep', 'Jumlah/Total', '2013', '2012'],
      dtype=object)

So, in order to do that, we should again change the strange character into  None character.

In [29]:
for i in range(len(data)):
    dat = data['District'][i]
    # change the strange into None
    strings = dat.translate({ord('\xa0'): None})
    data['District'][i] = strings

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

Check again

In [30]:
data.District.unique()

array(['Tegalsari', 'Genteng', 'Bubutan', 'Simokerto', 'Pabean Cantikan',
       'Semampir', 'Krembangan', 'Kenjeran', 'Bulak', 'Tambaksari',
       'Gubeng', 'Rungkut', 'Tenggilis Mejoyo', 'Gunung Anyar',
       'Sukolilo', 'Mulyorejo', 'Sawahan', 'Wonokromo', 'Karangpilang',
       'Dukuh Pakis', 'Wiyung', 'Wonocolo', 'Gayungan', 'Jambangan',
       'Tandes', 'Sukomanunggal', 'Asemrowo', 'Benowo', 'Lakarsantri',
       'Pakal', 'Sambikerep', 'Jumlah/Total', '2013', '2012'],
      dtype=object)

Everything is alright, and yeah just save it into csv, we are currently separated into 2 files, the full one, and the clean one.

In [31]:
data.to_csv("Data Penduduk Surabaya+1213.csv", index=False)
data[:31].to_csv("Data Penduduk Surabaya.csv", index=False)

Part 1 is done, now move on to the next program.